@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
 padding:0;
 margin:0;
  font-family: "Poppins", sans-serif;
}


.Poppins-thin {
  font-family: "Poppins", sans-serif;  
  font-style: normal;
}